.productgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
}
.product {
    border: solid #ebebeb;
    border-width: 2px;
    width: 300px;
    height: 185px;
    text-align: center;
    background-color: white; 
    
}
.product:hover {
    border: outset black;
    border-width: 2px;
    transition: all 0.3s ease;
}

.product>.thumbnail{
   height: 100px;
   margin: 15px 0px 10px 0px;
}

.product>.title {
    margin: 0px;
    color:black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.product>.description {
    margin-top: 14px;
    padding: 0px 10px;
    color: #929292;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.productgrid>a {
    outline: 0;
    text-decoration: none;
    margin: 10px 0px;
    width: 300px;
}