.projectgrid {
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-gap: 10px 20px;
}

.project {
    border: solid #ebebeb;
    border-width: 2px;
    width: 400px;
    height: 86px;
    text-align: center;
    background-color: white; 
}

.project:hover {
    border: outset black;
    border-width: 2px;
    transition: all 0.3s ease;
}

.project>.status{
    width: 30px;
    height: 100%;
    float: left;
}

.project>.title {
    color:black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.project>.description {
    margin-top: 14px;
    padding: 0px 10px;
    color: #929292;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.projectgrid>*>a , .projectgrid>a {
    outline: 0;
    text-decoration: none;
    margin: 0px;  
    width: 400px;
}

.projectgrid h2 {
    margin-top: 0px;
}

.projectsubgrid {
    display: grid;
    grid-gap: 10px 0px;
}

/*=========================================================*/

.project-done .status {
    background-color: rgb(85, 255, 7);
}

.project-work .status{
    background-color: rgb(92, 188, 243);
}
.project-think .status{
    background-color: rgb(214, 214, 214);
}

.project-done>a>.project {
    margin-bottom: 10px;
}
.project-work>a>.project {
    margin-bottom: 10px;
}
.project-think>a>.project {
    margin-bottom: 10px;
}