body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: grid;
    grid-template-columns: 60px auto;
    background-color: white;
    color: #011103;
    margin: 4px;
}
/*=========================================================*/
.page-sidebar {
    background-color: #326614b0;    
}
.page-sidebar .navbox{
    width: 30px;    height: 30px;
    padding:15px 15px;
    transition: all 0.3s ease;
}
.page-sidebar .navbox:hover{
    background-color: #1b5f15;
}
.page-sidebar .navbox img{
    width: 30px;
}
.page-sidebar a {
    outline: 0;
}
/*=========================================================*/
.page-content {
    height: calc(100vh - 8px);
    display: grid;
    grid-template-rows: 60px auto;
}

#headline {
    margin: 0px 50px;
    border-bottom: 2px solid rgb(134, 133, 51);
}
#headline>* {
    text-align: center;
}

#content {
    padding: 0px 10px 0px 10px;
    overflow: auto;
    margin: 0px 50px;
    background-color:#fafafa;
}

#content h2 {
    margin: 0px 0px 10px 0px;
}

/*=========================================================*/
.page-footer {
    bottom: 0px; width: 100%;
    background-color: red;
}