body {
    height: 98%;
    display: grid;
    grid-template-columns: 60px auto;
}

.page-sidebar {
    background-color: #ff0000;    
}
.page-sidebar .navbox{
    width: 30px;    height: 30px;
    padding:15px 15px;
}
.page-sidebar .navbox:hover{
    background-color: #d82607;
}
.page-sidebar .navbox img{
    width: 100%;

}

.page-content {
    overflow: auto;
    background-color: blue;
}

.page-footer {
    bottom: 0px; width: 100%;
    background-color: red;
}